@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #252C32;
}

h1 {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 2.2%;
}

h2 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: -1.4%;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1.4%;
}

p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5%;
}

.container {
	width: 100%;
  float: right;
	/* padding: 15px; */
	/* background-color: #31b0cc; */
	align-items: center;
}

.row {
	display: flex;
	align-items: center;
	/*background-color: violet;*/
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  margin: 15px;
  padding: 15px;
  /*background-color: salmon;*/
  border: 1px solid #E5E9EB;
  border-radius: 25px;
  overflow: auto;
}

.icon {
  width: 41px;
  height: auto;
  padding-right: 18px;
}



/*Scrollbar*/


::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  /* background: rgba(0,0,0,0); */
  background: black;
    border:0px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background: #68B19D;
    border:0px solid #eee;
    height:100px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #49796c; 
}


/*BISMILLAH GRID*/

.content-grid-container > div,
.statistic-grid-container > div {
  background-color: white;
  padding: 25px 30px;

  border: 1px solid #E5E9EB;
  border-radius: 25px;
}

.th{
  text-align: left !important;
}

.tabelku {
    width:100%;
    text-align: left;
    background-color: gold;
}

/* .rowis {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  padding: 10px;
}

.rowis .item2-right p{
  text-align: end;
}


.item6 .label p{
  text-align: end;
} */

/*.imgg {
    background-image: url(uchiha.svg);
    background-color: whitesmoke;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #b4ff28;
}*/
