


/* ======================= Style Umum ======================= */
main {
  grid-area: content;
  padding: 48px;
  /* background-color: aqua; */
}


/* ======================= Style Judul Kalender ======================= */


.Bulan{
    font-size: 3em;
    font-weight: bold;
  }
  .Tahun{
    
    font-size: 3em;
    font-weight: lighter;

  }
  /* DROP DOWN MENU */
  .dropbtns {
    background-color: #df5050;
    border-radius: 10px;
    
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;

  }
  
  .dropdowns {
    position: -webkit-sticky;
    display: inline-block;
  }
  
  .dropdown-contents {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    border-radius: 10px;
    min-width: 130px;


  }
  
  .dropdown-contents a {
    color: rgb(255, 255, 255);
    padding: 9px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-contents a:hover {     border-radius: 10px;background-color:#7faf82;}
  
  .dropdowns:hover .dropdown-contents {display: block;}
  
  .dropdowns:hover .dropbtns {background-color: #df5050;}


/* ======================= Style Isi Kalender ======================= */
  .calendar__week, .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 120px;
    text-align: left;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar {
    background-color: white;
    border: 2px solid #e1e1e1;
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__day {
    padding: 16px;
    border-right: 2px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
  }
  
  .calendar__day:last-child {
    border-right: 0;
  }

  .AnotherMonth{
    color: rgb(224, 224, 224);
  }

  #today{

    background-color: rgb(238, 238, 238);

  }

/* ======================= Style Modal Box ======================= */
.modal,.modal1 {
    display: none;                              /* Hidden by default */
    position: fixed;                            /* Stay in place */
    z-index: 1;                                 /* Sit on top */
    padding-top: 100px;                         /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;                                /* Full width */
    height: 100%;                               /* Full height */
    overflow: auto;                             /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);           /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);     /* Black w/ opacity */
}



/* The Close Button */
.close,.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
  background-color: #f58686;
  border: none;
  padding: 0.1vw 0.5vw 0.2vw 0.5vw; 
  margin-top: 0.1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin-left: 1.4vw ;

}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.line{
  height:3px;
  margin: auto;
  border-width:0;
  color:rgb(0, 0, 0);
  background-color:gray;
}
.jam{
  font-weight: bold;
  color: rgb(204, 68, 68);
  font-style: italic;
}
