@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 2.2%;
}

h2 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: -1.4%;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1.4%;
}

p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5%;
}

.container {
  /* background-color: blueviolet; */
	width: 100%;
  float: right;
	/* padding: 15px; */
	/*background-color: #31b0cc;*/
	align-items: center;
}

.row {
	display: flex;
	align-items: center;
	/*background-color: violet;*/
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  margin: 15px;
  padding: 15px;
  /*background-color: salmon;*/
  border: 1px solid #E5E9EB;
  border-radius: 25px;
  overflow: auto;
}

.icon {
  width: 41px;
  padding-right: 18px;
}

@media screen and (max-width: 890px) {
  .column {
    width: 100%;
  }

  .row {
    display: block;
  }
}


/*Scrollbar*/


::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
    border:0px solid #ccc;
}
 
::-webkit-scrollbar-thumb {
  background: #363636; 
    border:0px solid #eee;
    height:100px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #31b0cc; 
}


/*BISMILLAH GRID*/


.content-grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  /* background-color: tomato; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto-fit,auto;
  grid-gap: 30px;
  padding: 40px;
}

.content-grid-container > div,
.statistic-grid-container > div {

  padding: 20px;
  /* border: 1px solid #E5E9EB; */
  border-radius: 15px;
}

/* Grid item */

.item1 {
  /* grid-column: 1 / 4; */
  display: grid;
  padding: 10px;
  /* background-color: #31b0cc; */
}

#item1{
  grid-column: 1/1;
}

}
.item7 {
  grid-column: 1 / 4;
}

.item3, .item4, .item5 {
  text-align: left;
}


.th{
  text-align: left !important;
}

.tabelku {
    width:100%;
    text-align: left;
    background-color: gold;
}


/* Announcement */
#item-flex-left{
  float: left;
  /* background-color: seagreen; */
  width: 70%; 
}

#item-flex-center{
  float: left;
  text-align: center;
  /* background-color: seagreen; */
  width: 70%; 
}

#item-flex-right{
  float: right;
  text-align: right;
  /* align-items: flex-end; */
  /* background-color: aqua;  */
}

#item-flex-left, #item-flex-right, #item-flex-center{
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
}

.item6 {
  display: grid;
  grid-column: 4;
}

/* #date{
  height: 40px !important;
  /* width: auto; */
  /* background-color: blueviolet; */
} */

.input {
  /* padding: 4px; */
  /* border-radius: 200px; */
}

input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=email] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: aqua;
}

textarea[class=input]{
  padding:5px; 
  height: 200px;
  width: 300px;
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* buttonstyle  */

.buttonstyle-change { 
  background:none;
  background-position: 0px -401px; 
  border: solid 2px #ccc; 
  color: #000000;
  cursor:pointer;
  height: 25px;
  width: 80px;
  margin-top: -1px;
  padding-bottom: 2px;
  border-radius: 5px;
  }
  .buttonstyle-change:hover{
    background:rgb(235, 235, 235);background-position: 0px -501px;color:black; 
  }

  .buttonstyle-remove { 
  background:rgb(255, 24, 24); 
  background-position: 0px -401px; 
  border: none;
  color: #ffffff;
  cursor:pointer;
  height: 25px;
  width: 80px;
  margin-top: -1px;
  padding-bottom: 2px;
  border-radius: 5px;
  }
  .buttonstyle-remove:hover{
  background:rgb(253, 81, 81);background-position: 0px -501px;color:white; 
  }

  .buttonstyle-cancel { 
  background:none;
  background-position: 0px -401px; 
  border: solid 2px #ccc; 
  color: #000000;
  cursor:pointer;
  height: 30px;
  width: 60px;
  margin-top: -1px;
  padding-bottom: 2px;
  border-radius: 5px;
  }
.buttonstyle-cancel:hover{
  background:rgb(235, 235, 235);background-position: 0px -501px;color:black; 
}

.buttonstyle-save{ 
  background: aqua;
  background-position: 0px -401px; 
  border: solid 2px #ccc; 
  color: #000000;
  cursor:pointer;
  height: 30px;
  width: 60px;
  margin-top: -1px;
  padding-bottom: 2px;
  border-radius: 5px;
  }
  .buttonstyle-save:hover{
    background:rgb(122, 247, 247);background-position: 0px -501px;color:black; 
  }
