/* grid untuk grafik ip */
.grafiknilaicontainer{
    display: grid;
    height: 300px;
    width: 100%;
  
    grid-template-columns: 1fr 1fr 1fr 1fr 25%;
    /* grid-template-rows: repeat(4, auto); */
  
    grid-gap: 10px;
    padding: 10px;
  }
* {box-sizing:border-box}

/* Container for skill bars */
.charts1 {
    /* grid-area: scard; */
    
    width: 40px;
    height: 200px; /* Full width */
    background-color: rgb(156, 148, 148); /* Grey background */
  }
  .legend1 {
    /* grid-area: bgraph; */
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }
  .legend2 {
    /* grid-area: bgraph; */
    grid-column: 2 / 5;
    grid-row: 4 / 5;
  }
  .legend3 {
    /* grid-area: bgraph; */
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }
  .legend4 {
    /* grid-area: bgraph; */
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
.skills {
padding: 5px;
color: rgb(0, 0, 0); /* White text color */
}

.sms1 {width: 40px; height: 20%; background-color: #e2e2e2;} /* Green */
.sms2 {width: 40px; height: 50%; background-color: #e2e2e2;} /* Blue */
.sms3 {width: 40px; height: 60%; background-color: #e2e2e2;} /* Red */
.sms4 {width: 40px; height: 20%; background-color: #e2e2e2;} /* Dark Grey */

/* donut chart */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
	
	
.portion-block {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
	
	
#part1 {
    transform: rotate(0deg);
  }

	#part1 .circle {
		background-color: #00fbff;
		/*transform: rotate(76deg);*/
		animation: first 1s 1 forwards;
	  }
	
	
#part2 {
    transform: rotate(100deg);
  }
#part2 .circle {
    background-color: #00fbff;
    animation: second 1s 1 forwards 0.9s;
  }
#part3 {
    transform: rotate(250deg);
}
	#part3 .circle {
		background-color: #475c5b;
		animation: third 1s 1 forwards 1.85s;
	}
	
	
/* Animation */
@keyframes first {
    from {transform: rotate(0deg);}
    to {transform: rotate(100deg);}
}
	
@keyframes second {
    from {transform: rotate(0deg);}
    to {transform: rotate(150deg);}
}
	
@keyframes third {
    from {transform: rotate(0deg);}
    to {transform: rotate(111deg);}
}

/* untuk keaktifan */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.keaktifan {
  width: 100%; /* Full width */
  background-color: rgb(146, 146, 146); /* Grey background */
  border-radius: 25px;
}

.jeniskeaktifan {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  padding-right: 10px;
  border-radius: 25px;
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.tabel{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(148, 148, 148);
}
.box {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(148, 148, 148);
}


/* Announcement */
#item-flex-left{
  float: left;


}

#item-flex-center{
  float: left;
  border: none;
  padding: 10;
  margin: 0;
  height: auto;
}

#item-flex-right{
  float: right;
  text-align: right;
  width: 100px;
  /* background-color: seagreen;  */
}

#item-flex-left, #item-flex-right{
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
    /* background-color: seagreen;  */
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.rcorners1 {
  border-radius: 10px 10px 10px 10px;
  background: #73AD21;
padding: 10px;
  width: 40px;
  height: 40px;
}